

.alert-danger {
    margin-left: 25%;
    padding: 20px;
    background-color: #f44336;
    color: white;
    width: 50%;
    border-radius: 5px;
}

.alert-success {
    margin-left: 25%;
    padding: 20px;
    background-color: #4CAF50;
    color: white;
    width: 50%;
    border-radius: 5px;
}

.alert-warning {
    margin-left: 25%;
    padding: 20px;
    background-color: #ff9800;
    color: white;
    width: 50%;
    border-radius: 5px;

}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
