
.main-container{
   margin-top: 100px; 
}

.nombreProducto {
    font-size: 2rem;
}

.price {
    
    font-size: 2.4rem;
    padding: 1rem;
}

.tableHeader {
    font-size: 5rem;
    text-align: left;
}

.checkoutInput {
    height: 4rem;
    width: 12rem;
    font-size: 2rem;
    text-align: center;
}

.checkoutInputContainer {
    width: 10rem;
    justify-content: left;
}

.checkoutInputActions {
    font-size: 2rem;
    justify-content: left;
}

.checkoutInputActions button {
    margin-top: 18px;
    width: 12rem;
    padding: 6% 30.5%;
    border-radius: 10px;
    font-family: Autour One;
    font-size: 10px;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #5a585a;

}


.checkoutInputActions button:hover {
    background-color: #797579;;
}

.checkoutInputActions button:active {
    background-color: #685f8a;
    transform: translateY(0.5px);
}

.tableHeaderPrice {
    width: 10rem;
}


.ImgCheckout {
    display: inline;
    width: 20rem;
}



.TituloCheckout {
    display: block;
}

.TituloCheckout h1 {
    font-size: 32px;
    padding-left: 8%;
}

.CheckoutIzq {
    font-size: 4rem;
}

.DescripcionCheckout {
    background-color: #fff;
    border-radius: 15px;
    font-family: Roboto, Sans-serif;
    font-size: 3rem;
    padding-left: 2rem;
    
}

.ContainerCheckout {
    margin-left: 5%;
    border-radius: 15px;

}

.ContainerCheckout button {
    margin-top: 28px;
    font-family: 'Roboto';
    border-radius: 15px;
    width: 100%;
    height: 5.6rem;
    font-size: 2rem;
    padding-bottom: 0.2rem;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #5a585a;
    
}

.ContainerCheckout button:hover {
    background-color: #797579;
}

.ContainerCheckout button:active {
    background-color: #685f8a;
    transform: translateY(0.5px);
}

.ContainerCheckout h1 {
    margin-top: 55px;
    font-size: 19px;
    text-align: center;
    padding: 1rem;
    border-radius: 12px;
    background-color: rgb(163, 163, 163);
}



/* Media Queries */
@media (max-width: 1075px) {


    
    .ImgCheckout {
        width: 10rem;
    }

    .checkoutInputContainer {
        width: 7rem;
        justify-content: left;
    }

    .checkoutInputActions {
        font-size: 1.6rem;
        justify-content: left;
    }

    .checkoutInputActions button {
        border-radius: 25px;
        padding: 3% 15.5%;
        width: 7rem;
        font-size: 52.5%;
 
    }

    .checkoutInput {
        height: 3rem;
        width: 7rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .tableHeaderProduct {
        padding-left: 1rem;
    }

    .nombreProducto {
        font-size: 1.4rem;
    }

    .price {
        font-size: 1.4rem;
    }

    .tableHeader {
        font-size: 3rem;
    }

}