* {
    box-sizing: border-box;
    font-size: 62.5%;
}

/* Para quitar el las flechas del input */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
    border-radius: 25px;
    background-color: #fff;
    border: none;
}

body {
    font-family: Autour One;
    background-color: rgb(243, 239, 239);
    color: #2c2c2c;
    margin: 0;
}



.login-image {
    text-align: center;
    padding-top: 80px;
    font-family: Autour One;
}

.login-image img {
    width: 10%;
}

.tic {
    font-size: 2.2rem;
    margin: 1rem;
    font-weight: 1000;
}

span {
    font-family: Autour One;
    font-size: 14px;

}
.bi-list {
    color: #fff;
    font-size: 35px;
}



main {
    position: relative;
    height: 100%;
    padding-bottom: 200px;
}







.formularioRegistro div {
    display: flex;
    width: 50%;
}

.formularioRegistro .divPrimarios {
    width: unset;
    justify-content: space-between;
    margin-bottom: 0.8rem;

}


.formularioRegistro .divPrimarios select {
    width: 50%;
}


.Encabezado img {
    width: 10%;
}

nav {
    text-align: center;

}

nav a {
    display: inline-block;
    text-decoration: none;

}

nav h3 {
    padding: 9px 25px;
    border-radius: 15px;
    background-color: #ca89c7c5;
    color: #2c2c2c;
    margin: 0 2px 0 0;
    font-size: 15px;
}

nav h3:hover {
    background-color: #be6caac5;

}

.Main-container {
    border-radius: 25px;
    display: grid;
    margin: 4%;
    background-color: #fff;
    grid-template-columns: 50% 50%;
}


.Pimage img {

    margin-left: 15%;
    margin-bottom: 8%;

    border-radius: 25px;
    background-color: rgb(223, 215, 222);
    width: 65%;
}

.Pimage a {
    text-decoration: none;

}

.Pimage img:hover {
    background-color: rgba(44, 42, 44, 0.295)
}

.ImgCheckout {
    display: inline;
    width: 20rem;
}




.Pimage h2 {
    margin-top: 4%;
    font-size: 115%;
    ;
    margin-left: 30%;
}

.Images img {
    display: block;
    width: 50%;
    margin-top: 35px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 25px;
    border-radius: 25px;

}



.Images .Kitkat {
    width: 55%;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #5a585a;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    align-content: right;
    z-index: 1001;
}

.sidenav a {
    padding: 8px 68px 8px 28px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #c5c1c1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: -48px;
    font-size: 35px;
    margin-left: 50px;
}



.containerNico {
    margin: 4%;
    margin-top: 30%;
    display: grid;
    grid-template-columns: 100%;
    gap: 1.2rem;

}

.buy p {
    font-size: 1.3rem;
    font-family: Autour One;

}

.buy a {
    text-decoration: none;
}

.buy h3 {
    font-size: 3rem;
}

.buy h2 {
    font-size: 2rem;
}

.buy-button {
    font-family: Autour One;
    border-radius: 25px;
    font-size: 1.7rem;
    padding: 2.2% 34%;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #5a585a;
}


.add-button {

    font-family: Autour One;
    border-radius: 25px;
    font-size: 1.7rem;
    padding: 2.2% 35.54%;
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #5a585a;
    }



.buy button:hover {
    background-color: #6b686b;
}

.buy button:active {
    background-color: #6f6697;
    transform: translateY(0.5px);
}


.productDescription {
    font-size: 3rem;
}



.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1001;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
    -webkit-animation-name: fadeIn;
    /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    border-radius: 32px;
    margin: 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgb(250, 241, 250);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}

.modal-content {
    width: 80%;
}




.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.image-modal {
    width: 40%;
}

.modal-ProductN {
    font-size: 1.6rem;
}

.modal-button {
    font-family: Autour One;
    border-radius: 25px;
    font-size: 1.4rem;
    padding: 2.2% 25%;
    /*padding: 10px 220px;*/
    border: none;
    color: #fff;
    cursor: pointer;
    background-color: #5a585a;
}

.modal-button:hover {
    background-color: #6b686b;

}

.modal-button:active {
    background-color: #6f6697;
    transform: translateY(0.5px);
}

.right-stuff a,
.right-stuff p {
    font-size: 1.4rem;
    text-decoration: none;
}

.right-stuff h2 {
    margin-top: 7rem;
    font-size: 3rem;
}

.right-stuff a:hover {
    color: #71bff3c5
}

.left-stuff {
    margin-left: 10%;

}

.add-text {
    font-size: 2rem;
    color: #63a582;
}

.candies-container{
    margin: 5%;
    margin-left: 10%;
    margin-right: 8%;
   
}

.candies-container a {
    text-decoration: none;
    
}

.candies-container div  {
    
    height: 23rem;
    width: 31%;
    margin-bottom: 82px;
    margin-inline: 1%;
    display:inline-flex;
    justify-content: center;
    background-color: #fff;
    border-radius: 25px;
    transition:  0.3s ease-out;
    
    
}

.candies-container h2 {
    margin-top: -44px;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px;
    position: absolute;
    font-size: 16px;
    color: #3b3a3b;
}

.candies-container img {
    padding: 18px;
    width: auto;
    height:96%;
    overflow: hidden;
}



 .candies-container div:hover > h2{

    background-color: #cbbdeb;
   
}

.candies-container div:hover{

    background-color: #edebf1;
    
}


@media (max-width: 1139px) {
   

    .candies-container div {
        margin-bottom: 15px;
        margin-top: 80px;
        margin-left: 2%;
        height: 164px;
        width: 45%;
    }
}



@media (max-width: 715px) {

    .candies-container div {
        
        margin-left: 10%;
        height: 170px;
        width: 63%;
    }

}


@media (max-width: 445px) {

    .candies-container div {
       
        margin-left: 10%;
        height: 135px;
        width: 86%;
    }

}




/* Media Queries */
@media (max-width: 700px) {

    .ImgCheckout {
        width: 10rem;
    }

    .checkoutInputContainer {
        width: 7rem;
        justify-content: left;
    }

    .checkoutInputActions {
        font-size: 1.6rem;
        justify-content: left;
    }

    .checkoutInputActions button {
        border-radius: 25px;
        padding: 3% 15.5%;
        width: 7rem;
        font-size: 52.5%;
 
    }

    .checkoutInput {
        height: 3rem;
        width: 7rem;
        font-size: 1.6rem;
        text-align: center;
    }

    .tableHeaderProduct {
        padding-left: 1rem;
    }

    .nombreProducto {
        font-size: 1.4rem;
    }

    .price {
        font-size: 1.4rem;
    }

    .tableHeader {
        font-size: 3rem;
    }

}





@media(max-width: 1025px) {
    .formularioRegistro {
        width: 75%;
        margin-left: 12.5%;
    }

}

@media (max-width: 800px) {
    .formularioRegistro {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
        padding-top: 0;


    }

}

@media (max-width: 600px) {}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}




::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(231, 229, 229);

}

::-webkit-scrollbar-thumb {
    background: #5a585a;

}

::-webkit-scrollbar-thumb:hover {
    background: #727072;
}






.navbar-mainbg{
    margin-left: 5.4%;
    border-radius: 15px;
    width: 90%;
    background-color:#5a585a;
    padding:0;
}
#navbarSupportedContent{
    justify-content:center;
    overflow:hidden;
    position:relative
}
#navbarSupportedContent ul{
    
    padding:0;
    margin:0
}
#navbarSupportedContent ul li a i{
    
    margin-right:10px
}
#navbarSupportedContent li{
    
    list-style-type:none;
    float:left;
    
}
#navbarSupportedContent ul li a{
    
    color:rgb(255, 255, 255);
    text-decoration:none;
    font-size:15px;
    display:block;
    padding:20px;
    transition-duration:.6s;
    transition-timing-function:cubic-bezier(0.68,-.55,.265,1.55);
    position:relative;
    
}
#navbarSupportedContent>ul>li.active>a{
    color:#3d3b3b;
    background-color:transparent;
    transition:all .7s
}
#navbarSupportedContent a:not(:only-child):after{
    content:"\f105";position:absolute;
    right:20px;
    top:10px;
    font-size:14px;
    display:inline-block;
    padding-right:3px;
    vertical-align:middle;
    font-weight:900;
    transition:.5s;
    
}
#navbarSupportedContent .active>a:not(:only-child):after{
    transform:rotate(90deg)
}
.hori-selector{
    display:inline-block;
    position:absolute;
    height:100%;
    top:0;
    left:0;
    transition-duration:.6s;
    transition-timing-function:cubic-bezier(0.68,-.55,.265,1.55);
    background-color: rgb(243, 239, 239);
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    margin-top:10px
}
.hori-selector .left,.hori-selector .right{
    position:absolute;
    width:25px;
    height:25px;
    background-color: rgb(243, 239, 239);
    bottom:10px
}
.hori-selector .right{
    right:-25px
}
.hori-selector .left{
    left:-25px
}
.hori-selector .left:before,.hori-selector .right:before{
    content:'';
    position:absolute;
    width:50px;
    height:50px;
    border-radius:50%;
    background-color:#5a585a;
}
.hori-selector .right:before{
    bottom:0;right:-25px
}
.hori-selector .left:before{
    bottom:0;
    left:-25px
}

@media (max-width:1140px){

    .index-container {

       display: grid;
       grid-template-columns: 28% 72%;
    }

   


    .navbar-mainbg{
        margin-top: 20%;
        margin-left: 22.4%;
        border-radius: 25px;
        width: 155px;
        height: 600px;
        
    }

    .hori-selector{
        margin-top:0;
        margin-left:8px;
        border-radius:25px 0 0 25px
    }
    .hori-selector .left,.hori-selector .right{
        right:8px
    }
    .hori-selector .left{
        top:-25px;
        left:auto
    }
    .hori-selector .right{
        bottom:-25px
    }
    .hori-selector .left:before{
        left:-25px;
        top:-25px
    }
    .hori-selector .right:before{
        bottom:-25px;
        left:-25px
    }

}


@media (max-width:431px){

    

    .navbar-mainbg{
        margin-left: 5.8%;
       
       
    }
}




 