@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


body{
    margin: 0;
    background-color: rgb(241, 222, 241);
    font-family: Autour One;
    color: #2c2c2c;
}

main::before{
    background-image: url("../../Imágenes/background/candies.png");
    opacity: 90%;
    
}

.topnav {
    position: fixed;
    top: 0px;
    height: 64px;
    width: 100%;
    background-color: #ca82c5e3;
    overflow:hidden;
    transition: top 0.3s;
    
  }
  
 
.topnav a {
    height: 55px;
    margin-top: 4px;
    float: right;
    color: #fff;
    text-align: center;
    padding: 14px 6px;
    text-decoration: none;
    font-size: 15px;
  }
  

.topnav a:hover {
    background-color: #ad7cc9b0;

}

.brand {
    vertical-align: middle;
    text-align: center;
    top: 0;
    margin-left: 25px;
    float: left;
}


.brand h4 {
    padding: 1px 0 9px 0;
    margin: 0;
    font-family: Roboto,  sans-serif;
    font-size: 20px;
    
}



.container{
    margin: 4%;
    display: grid;
    grid-template-columns: 100%;
    gap: 1.2rem;
    
}



@media only screen and (min-width: 540px){


         


    .topnav a {
        height: 55px;
        margin-top: 4px;
        margin-right: 5px;
        float: right;
        color: #fff;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 15px;
      }



    .container{
        margin: 4%;
        display: grid;
        grid-template-columns: 55% 45%;
        
        gap: 1.2rem;
        
    }
    .buy-button {
        border-radius: 25px;
        font-family: Autour One;
        font-size: 90%;
        padding: 2.4% 35%;
        /*padding: 10px 220px;*/
        border: none;
        color:#fff;
        cursor: pointer;
        background-color: #e494e0c5;
        
    }

    .add-button{
        padding: 2% 33.5%;
        border-radius: 25px;
        font-family: Autour One;
        font-size: 90%;
        border: none;
        color:#fff;
        cursor: pointer;
        background-color: #e494e0c5;
        
    }

    
}


.buy p {
    font-size: 13px;
    font-family: Autour One;
   
}

.buy a{
    text-decoration: none;
}


.buy-button {
    font-family: Autour One;
    border-radius: 25px;
    font-size: 90%;
    padding: 2.2% 35%;
    /*padding: 10px 220px;*/
    border: none;
    color:#fff;
    cursor: pointer;
    background-color: #d48ed0e3;
}

.buy button:hover{
    background-color: #ad7cc9b0;
}

.buy button:active{
    background-color: #55449e;
    transform: translateY(0.5px);
}

.add-button{
    padding: 2% 33.5%;
    font-size: 90%;
    font-family: Autour One;
    border-radius: 25px;
    border: none;
    color:#fff;
    cursor: pointer;
    background-color: #d48ed0e3;
}

.add-button:hover{
    background-color: #ad7cc9b0;
}

.add-button:active{
    background-color: #55449e;
    transform: translateY(0.5px);
}

.image-box img{
    width: 80%;
    background-color: #fff;
    border-radius: 25px;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s;
}

.modal-content {
    border-radius: 32px;
    margin: 10%;
    display: grid;
    grid-template-columns: 60% 40%;
    background-color: rgb(250, 241, 250);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s;
}




.close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.image-modal{
    width: 40%;
}

.modal-ProductN{
    font-size: 13px;
}

.modal-button{
    font-family: Autour One;
    border-radius: 25px;
    font-size: 90%;
    padding: 2.2% 25%;
    /*padding: 10px 220px;*/
    border: none;
    color:#fff;
    cursor: pointer;
    background-color:#d48ed0e3;
}

.modal-button:hover{
    background-color: #ad7cc9b0;
    
}

.modal-button:active{
    background-color: #55449e;
    transform: translateY(0.5px);
}

.right-stuff a, p{

    text-decoration: none;
    

}

.right-stuff a:hover{
    color: #71bff3c5
}

.left-stuff {
    margin-left: 10%;
    
}

.add-text{
    color: #63a582;
}


/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  

footer{
    
    font-family: Roboto, sans-serif;
    position: relative;
    margin-top: 60px;
    position: 0;
    background-color:#a8b2e9c5;
    
}

footer p {
    font-family: Console;
}



.bi:hover{
    color: #94879c;
}

.bi-facebook{
    color: #3B5998;
}

.bi-instagram {
    color: rgb(243, 99, 99);
}

.bi-twitter {
    color: rgb(119, 196, 219)
}
  



.bar {
    
    margin-top: 13px;
    margin-right: 10px;
   
    cursor: pointer;
    float: right;
}

.bar1, .bar2, .bar3 {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 10px;
    transition: 0.4s;
    
}


  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #ca89c7;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
   align-content: right;
  }

  .sidenav a {
    padding: 8px 8px 12px 52px;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #424242;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 28px;
    font-size: 35px;
    margin-left: 50px;
  }
  